@{
    Layout = "~/Shared/_BootstrapLayout.cshtml";
    Page.Title = "Home Page";
}

<div class="center">
    <img src="~/Images/path-to-home.jpeg" style="height:70%; width: 100%; " />
</div>
<div class="text-center">
    <a href="~/start.cshtml" class="btn btn-primary btn-lg text-center">Start</a>
</div>
