@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";
}

<div>
    <h1>Create Character</h1>
    <form>
        Name: <input type="text" name="fname" />
        <input type="text" name=="lname" />
        <input type="submit" value="Create Character" />
    </form>
</div>